@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

/* Global Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	--color1: #1279a6;
	--color1-opacity: rgba(18, 121, 166, 0.8);
	--color2: #3c4f6e;
	--color2-opacity: rgba(60, 79, 110, 0.8);
	--color3: #55767b;
	--color3-opacity: rgba(85, 118, 123, 0.8);
	--color4: #031b28;
	--color4-opacity: rgba(3, 27, 40, 0.8);
	--color5: #a9cadb;
	--color5-opacity: rgba(169, 202, 219, 0.8);
	--text-color-white: white;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
}

h1 {
	font-size: 2.6rem;
}

li,
button,
label,
input,
p {
	font-size: 2rem;
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 3rem;
	font-weight: normal;
}

h4,
h5 {
	font-size: 2.8rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

/* Nav Section */
.main-head {
	background-color: var(--color1);
	color: var(--text-color-white);
}

nav {
	min-height: 10vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 90%;
	margin: auto;
}

ul {
	display: flex;
	flex: 1 1 60rem;
	justify-content: space-around;
	align-items: center;
}

a {
	color: var(--text-color-white);
}

#logo {
	flex: 2 1 40rem;
}

/* Hero Section */

.hero {
	min-height: 90vh;
	background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url(./images/car-img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--text-color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero h2 {
	font-size: 8rem;
}

.hero h3 {
	font-size: 3rem;
}

/* Locations Section */

.locations {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.locations img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.locations-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0rem 4rem;
}

.locations-text h2 {
	padding-bottom: 1rem;
}

.locations-text p {
	padding-bottom: 2rem;
}

.locations-text button {
	padding: 2rem 6rem;
	border: none;
	color: black;
	font-size: 1.8rem;
	cursor: pointer;
	border: 3px solid var(--color1);
	transition: all 0.5s ease;
	position: relative;
}

.locations-text button:hover {
	background-color: var(--color1);
	color: var(--text-color-white);
	transform: translate(0, -6px);
}

/* Contact Section */

.contact {
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url(./images/car-img3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-wrapper {
	background: var(--color4-opacity);
	width: 60%;
	color: var(--text-color-white);
	border-radius: 10px;
}

.form-head {
	text-align: center;
	padding: 4rem;
}

.name-form,
.email-form {
	padding: 3rem;
	text-align: center;
}

.form-wrapper label {
	margin: 0rem 3rem;
}

.form-wrapper button {
	width: 100%;
	padding: 2rem;
	margin-top: 8rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	transition: all 0.5s ease;
	position: relative;
	cursor: pointer;
}

.form-wrapper button:hover {
	background-color: var(--color1);
	color: var(--text-color-white);
	transform: translate(0, -6px);
}

/* About Section */

.about {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.about-image-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	grid-template-columns: repeat(2, 1fr);
	min-height: 100vh;
	gap: 0.6rem;
	overflow: hidden;
}

.about-image-gallery img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
}

.about-image-gallery img:hover {
	transform: translateY(-0.6rem);
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 4rem 4rem;
}

.about-text h2 {
	padding-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 55%;
	}

	nav {
		text-align: center;
    }

    .form-wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
	html {
		font-size: 50%;
    }

	nav {
		text-align: center;
		width: 100%;
	}
    
    .form-wrapper {
        width: 90%;
    }
}
